@use "sass:color";

// Override / set color variables
$white: #fff;
$black: #000;
$green: #00e389;
$blue: #3399ff;
$orange: #f26c22;
$yellow: #ffd925;
$red: #e5001e;

// Create grayscale
$gray-dark: #292b2c;
$gray: #3f3f3f;
$gray-light: #7e7e7e;
$gray-lighter: #ededed;
$gray-lightest: #fafafa;

// Set brand colors
$primary: $orange;
$success: $green;
$info: $yellow;
$warning: $blue;
$danger: $red;

// Override button colors
$btn-info-color: color.adjust($info, $lightness: -45%);

// Override alert background colors
$state-success-bg: color.adjust($success, $lightness: 30%);
$state-info-bg: color.adjust($info, $lightness: 30%);
$state-warning-bg: color.adjust($warning, $lightness: 30%);
$state-danger-bg: color.adjust($danger, $lightness: 45%);

// Override alert text colors
$state-success-text: color.adjust($success, $lightness: -30%);
$state-info-text: color.adjust($info, $lightness: -30%);
$state-warning-text: color.adjust($warning, $lightness: -30%);
$state-danger-text: color.adjust($danger, $lightness: -10%);

// Override line height
// $line-height-base: 1;

// Override page size
$print-page-size: a4;
// $print-body-min-width: 1200px;

// Set global options
$enable-shadows: false;
$enable-gradients: true;
$enable-print-styles: true;
